<!doctype html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My project</title>
    </head>
    
    <body>
        {% extends 'base.html' %}
        {% block content %}

       
        <a href="ticket">new ticket</a></br>


        <a href=''>New</a></br>
        <a href=''>in progress</a></br>
        <a href=''>complete</a></br>
       
         <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for ticket in tickets %}
            <div class="col">
               <div class="card">
                  <div class="card-body">
                     <h5 class="Number_ticket">{{ ticket.ticket_number }}</h5>
                     <p class="name">{{ ticket.contact_name }}</p>
                     <p class="call_time">{{ ticket.call_time }}</p>
                     <p >Priority:</span><span >{{ ticket.priority }}</p>
                     <p class="discussion">{{ ticket.discussion}}</p>
                     <a href='more_info' class="btn btn-primary">More Information</a>
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>


        </div>
        {% endblock content %}
    </body>
</html>
